html, body{
  min-width: 760px;
  padding: 0px;
  margin: 0px;
}
header{
  width: 100%;
  height: 5vh;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}

/*section */
section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 80vh;
  padding: 30px;
  box-sizing: border-box;

}

.game-cover-container {
  flex: 1; /* Hace que cada cover ocupe el mismo espacio */
  min-width: 100px;
  max-width: 250px;
  aspect-ratio: 1 / 1; /* Mantiene la relación cuadrada */
  background-color: #006FFF;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}


.game-cover-container:hover{
  transform: scale(1.1);
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  transition: background-color 0.3s ease-in-out;
}

.game-cover-container:nth-child(1):hover ~ #background {
  background-color: red;
}

.game-cover-container:nth-child(2):hover ~ #background {
  background-color: green;
}

.game-cover-container:nth-child(3):hover ~ #background {
  background-color: purple;
}


footer{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  background-color: blue;
}

footer * {
  margin-right: 40px;
  position:relative;
}

header * {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: white;
}

footer div {
  margin-top: auto;
  margin-bottom: 30px;
  color: white;
  display:flex;
}

footer div span{
  margin: auto;
  margin-left: -20px;
}

footer div img{
  width: 30px;
  filter: invert(.9)
}


.data * {
  margin-left: 10px;
}

.gamepad *{
  margin-left: 10px;
}

.social * {
  margin-right: 40px;
}

/*icons */

.wifi-logo{
  font-size:22px;
  color: white;
}

.gamepad {
  font-size: 25px;
}

.bell {
  font-size: 23px;
}

.friends {
  font-size: 24px;
}

.xbox-logo{
  font-size: 23px;
}

.profile {
  font-size: 23px;
}






